*{
	margin: 0;
	padding:0;
	font-family: BigNoodleTitling;
}
body{
	font-family: open sans;
}
@font-face {
    font-family: BigNoodleTitling;
    src: url(../bootstrap-3.1.1-dist/big_noodle_titling.ttf);
}
header{
	color:white;
}
.main-header{
	border-bottom: 1px solid black;

}
.col-md-5 h1{
	margin-bottom: 0px;
	font-size: 40px;
	letter-spacing: 5px;
}
.col-md-5 p{
	letter-spacing: 24px;
	font-size: 25px;
}
.col-md-7 ul{
	display: flex;
	list-style: none;
	flex-flow: row wrap;
	margin: 0px;
	padding: 20px 0;
}
.col-md-7 li{
	padding: 15px 0;
}
.col-md-7 li a{
	display: block;
	color: black;
	font-size: 40px;
	padding: 0 35px;
}
.col-md-7 .active {
  background-color: #d9534f;
  color: white;
  border-radius: 10px;
}
.main-header li:last-child a{
	padding: 0px 20px;
}
.topnav .icon {
    display: none;
}
.banner-header h1{
	margin: 0px;
	text-align: center;
	padding: 50px 0px;
	color:#5f5f5f;
	font-size: 70px;
	line-height: 75px;
	letter-spacing: 10px;
	word-spacing: 5px;
	
}
.banner-header{
	height: 365px;
	background-image: url("../image/bannerhome.jpg");
	border-bottom: 1px solid black;
}
.search{
	margin: 30px 0px;
}
.search p{
	font-size: 40px;
	text-align: center;
}
.main-body{
	border-bottom: 1px solid black;
	padding: 40px 0px;
}
img:last-child{
	padding-right: 0px;
}
.col-md-3 img{
	padding: 20px 0px;
}
.col-md-9{
	padding: 0;
	/*border-left: 3px solid blue;*/
}
.img ul{
	display: flex;
	list-style: none;
}
.img{
	
	padding: 20px 20px;
}
.img-responsive{
	border-radius: 10px;
}
.img li{
	padding-left: 30px;
}
footer{
	margin-bottom: 40px; 
}
address{
	letter-spacing: 1px;
}
.main-footer .col-md-4 {
	display: block; 
}
.main-footer ul{
	list-style: none;
}
.main-footer li a{
	color: black;
}
footer .col-md-4--contact a{
	margin: 20px 0px;
	display: block;
}
.main-footer .col-md-3--contact{
	display: flex;
}
.main-footer .col-md-3--contact1{
	background: #5bc0de;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}
.main-footer .col-md-3--contact1 img{
	position: absolute;
	top:30%;
	left:35%;
}
.main-footer .glyphicon{
	padding-right: 5px;
}