/*------------------------------------------------------------------
[Table of contents]
1. Styles for devices(>1200px)
2. Styles for devices(>=992px and <=1199px)
3. Styles for devices(>=768px and <=992px)
4. Styles for devices(>=481px and <=767px)
5. Styles for devices(<=480px)
-------------------------------------------------------------------*/
/*----------------
[1. Styles for devices(>1200px)]
*/
@media (min-width: 1201px) {
}

/*----------------
[2. Styles for devices(>=992px and <=1199px)]
*/
@media (min-width: 993px) and (max-width: 1200px){
	div.main-header .col-md-7 li a{
		font-size: 35px;
		padding: 0 20px;
	}
}

/*----------------
[3. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
	div .main-header .col-md-7 li a{
		padding: 0 15px;
		font-size: 30px;
	}
	div .main-header .col-md-5 h1{
		font-size: 30px;
	}
	div .main-header .col-md-5 p{
		font-size: 20px;
		letter-spacing: 19px;
	}
	div .header-title h1{
		font-size: 40px;
		padding: 0px;
	}
	div .banner-header{
		height: 250px;
		padding-top: 60px;
	}
	 
}

/*----------------
[4.Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) {
	/* For mobile phones: */
  	div .topnav a{
  		display: none;
  	}
  	div .topnav li a.icon {
    	float: right;
    	display: block;
  	}
  	div .topnav.responsive {
  		position: relative;
  	}
  	div .topnav.responsive .icon {
    	position: absolute;
    	right: 0;
    	top: 0;
  	}
  	div .topnav.responsive li a {
    	float: none;
    	display: block;
    	text-align: left;
  	}
  	div .text h1{
    	font-size: 30px;
    }
  	div .col-md-5 p{
    	letter-spacing: 17px;
    }
    div .col-md-5{
    	max-width: 50%;
    }
    div .col-md-7{
    	max-width: 50%;
    }
    div .main-header li:last-child a {
    	padding: 0px 90px;
	}
}

/*----------------
[5. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
	div .col-md-5{
    	max-width: 50%;
    }
    div .col-md-7{
    	max-width: 50%;
    }
	div .topnav a{
  		display: none;
  }
  	div .topnav li a.icon {
    	float: right;
    	display: block;
  }
  	div .topnav.responsive {
  		position: relative;
  }
  	div .topnav.responsive .icon {
    	position: absolute;
    	right: 0;
    	top: 0;
  }
  	div .topnav.responsive li a {
    	float: none;
    	display: block;
    	text-align: left;
  }
  	div .main-header li:last-child a {
    	padding: 0px 60px;
	}
}

/*----------------
